In [69]:
!pip3 install catboost xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: catboost in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (1.2.8)
Requirement already satisfied: xgboost in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (2.1.4)
Requirement already satisfied: plotly in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from catboost) (6.4.0)
Requirement already satisfied: matplotlib in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from catboost) (3.9.4)
Requirement already satisfied: graphviz in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from catboost) (0.21)
Requirement already satisfied: pandas>=0.24 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from catboost) (2.3.3)
Requirement already satisfied: scipy in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from catboost) (1.13.1)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from catboost) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: pillow>=8 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: packaging>=20.0 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (3.2.5)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (6.5.2)
Requirement already satisfied: cycler>=0.10 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: zipp>=3.1.0 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib->catboost) (3.23.0)
Requirement already satisfied: narwhals>=1.15.1 in /Users/nishiigupta/Library/Python/3.9/lib/python/site-packages (from plotly->catboost) (2.11.0)
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [70]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# modelling
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
# from  xgboost import XGBRegressor

In [71]:
df = pd.read_csv('./data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [72]:
# making all the features as independent and only math score as dependent(output feature)
X = df.drop(columns=['math score'], axis = 1)
# df.head()
X

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [73]:
# x columns before column Transformer
X.shape

(1000, 7)

In [74]:
# output features
y = df['math score']
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

For categorical data ----> we first perform one hot encoding
once the categories ---> get converted to numerical features  ---> we can apply standardization/normalization.

We create hence create a pipeline to follow this as a step by step process

In [75]:
# create column transformer with 3 types of transformers
numeric_features = X.select_dtypes(exclude='object').columns
categorical_features = X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

# standardize the numerical features
numeric_transformer = StandardScaler()

# one hot encoding for categorical data ---> to have numerical representation for each category
categorical_transformer = OneHotEncoder()

# ColumnTransformer combines the 2 process step by step 
#  first ---> one hot encoding should happen, then --> standarddization
# creating the pipeline using Columntransformer to transform the column values of the dataset
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", categorical_transformer, categorical_features),
        ("StandardScaler", numeric_transformer, numeric_features)
    ]
)

In [76]:
# fit the training data using the preprocessor ColumnTransformer
X = preprocessor.fit_transform(X)
X.shape

(1000, 19)

train test split

In [79]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train.shape, X_test.shape

((750, 19), (250, 19))